<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="home.css">
        <link rel="shortcut icon" href="https://media.istockphoto.com/id/1301624184/photo/water-splash-liquid-letter-s.jpg?s=612x612&w=is&k=20&c=fKMbXcvSDLnx9izMJwmOPgW91qcWwgw24-EtA5mWthI=" type="image/x-icon">
        <title>HOME</title>
    </head>
    <body style="background-color: #accfe6;">
        <h1 style="text-align: center;">welcome to the home page</h1>
        <button><a href="http://127.0.0.1:5000/login">login here</a></button>
        <button><a href="http://127.0.0.1:5000/register">register</a></button>
        
    </body>
</html>